{% extends "base.html" %}

{% block content %}
<div class="container-admin">
    <div class="content">
        <nav class="sidebar_nav">
            <div class="menu-section">
                <p class="menu-title">Mi cuenta</p>
                <a href="{% url 'perfil' %}" >Mis datos</a>
                <a href="{% url 'ver_tarjetas' %}">Mis formas de pago</a>
                <a href="{% url 'ver_direcciones' %}">Mis direcciones</a>
            </div>
            <div class="menu-section">
                <p class="menu-title">Mis actividades</p>
                <a href="{% url 'mis_reseñas' %}">Mis reseñas</a>
                <a href="{% url 'mis_reservas' %}">Mis reservas</a>
                <a href="{% url 'compras_realizadas' %}">Mis compras</a>            
                <a href="{% url 'mis_libros_epub' %}">Mis eBooks</a>            

            </div>
        </nav>
    </div>
</div>
<div class="container-cosas">
    <h2 class="text-center">Mis Reservas</h2>
    <!-- Formulario de Búsqueda -->
    <form method="get" class="mb-4">
        <input type="text" name="q" class="form-control" placeholder="Buscar por título o autor" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </form>

    <!-- Lista de Reservas -->
    {% if reservas %}
        <div class="list-group">
            {% for reserva in reservas %}
                <a href="{% url 'detalle_reserva' reserva.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="imagen-detalle me-3 my-3">
                                <img src="{{ reserva.libro.libro.imagen.url }}" alt="{{ reserva.libro.libro.titulo }}" class="img-fluid shadow">
                            </div>
                            <div class="info-detalle">
                                <p class="reseña-ti">{{ reserva.libro.libro.titulo }}</p>
                                <p><strong>Autor:</strong> {{ reserva.libro.libro.autor.nombre }}</p>
                            </div>
                        </div>
                        <!-- Nueva sección para el formato -->
                        <div class="d-flex flex-column align-items-center">
                            <p class="mb-0"><strong>Formato:</strong> {{ reserva.formato }}</p>
                        </div>
                        <span class="badge bg-primary">{{ reserva.estado_reserva }}</span>
                    </div>                    
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">No tienes reservas.</p>
    {% endif %}
</div>
{% endblock %}
