{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <div class="main-container">
    <h1>{% trans "Añadir Libro" %}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="titulo">{% trans "Título" %}</label>
        {{ form.titulo }}
      </div>

      <div class="form-group">
        <label for="isbn">{% trans "ISBN" %}</label>
        {{ form.isbn }}
      </div>

      <div class="form-group">
        <label for="fecha_publicacion">{% trans "Fecha de Publicación" %}</label>
        {{ form.fecha_publicacion }}
      </div>

      <div class="form-group">
        <label for="autor">{% trans "Autor" %}</label>
        {{ form.autor }}
      </div>

      <div class="form-group">
        <label for="generos">{% trans "Géneros" %}</label>
        {{ form.generos }}
      </div>

      <div class="form-group">
        <label for="descripcion">{% trans "Descripción" %}</label>
        {{ form.descripcion }}
      </div>

      <!-- Campos para Precio Físico y Digital -->
      <div class="form-group">
        <label for="precio_fisico">{% trans "Precio Físico" %}</label>
        {{ form.precio_fisico }}
      </div>

      <div class="form-group">
        <label for="precio_digital">{% trans "Precio Digital" %}</label>
        {{ form.precio_digital }}
      </div>

      <!-- Campo para Archivo Digital -->
      <div class="form-group">
        <label for="formato_digital">{% trans "Archivo Digital" %}</label>
        {{ form.archivo_digital }}
      </div>

      <div class="form-group">
        <label for="disponibilidad">{% trans "Disponibilidad" %}</label>
        {{ form.disponibilidad }}
      </div>

      <div class="form-group">
        <label for="imagen">{% trans "Imagen" %}</label>
        {{ form.imagen }}
        {{ form.imagen.errors }}
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn btn-success">{% trans "Guardar Libro" %}</button>
        <a href="{% url 'listar_libros' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
