{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main-container">
    <h1>{% trans "Eliminar Género" %}</h1>
    <p>{% trans "¿Estás seguro de que deseas eliminar el género" %} "{{ object.nombre }}"? {% trans "Esta acción no se puede deshacer." %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-buttons">
            <button type="submit" class="btn btn-danger">{% trans "Confirmar Eliminación" %}</button>
            <a href="{% url 'listar_generos' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
        </div>
    </form>
</div>
{% endblock %}
