{% extends 'base.html' %}
{% block content %}

    <div class="alert alert-light mx-auto" role="alert">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row" colspan="4" class="text-center">CARRITO</th>
                </tr>
                <tr>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div style="display: inline-block;">
                        
                            </div>
                            <div style="display: inline-block; margin-left: 5px; margin-right: 5px;">
                            </div>
                            <div style="display: inline-block;">
                                
                            </div>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger text-center">Carrito sin productos</div>
                    </td>
                </tr>
                {% endif %}
            <tr>
                <th scope="row">Total:</th>
                <td colspan="3">€</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="row justify-content-start">
            <div class="col-6 col-sm-2">
                
            </div>
            <div class="col-6 col-sm-2">
            </div>
        </div>
    </div>
{% endblock %}