* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #E0ECDE;
    padding-top: 60px;
    scrollbar-width: thin;
    scrollbar-color: #034D28 white;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 30px;
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}


.logo {
    max-height: 100px;
}

.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
    border: 2px solid #034D28;
    padding: 5px 15px;
    max-width: 600px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #034D28;
}

.search-bar .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.search-bar .search-icon {
    width: 20px;
    height: 20px;
}

.action-buttons {
    margin-left: 2%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.login-button, .register-button {
    background-color: transparent;
    border: 2px solid #034D28;
    color: #034D28;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover {
    background-color: #034D28;
    color: white;
}


.register-button {
    background-color: #034D28;
    color: white;
}

.register-button:hover {
    border: 2px solid #026c42;
    background-color: #026c42;
    color: white;
}

.cart-button, .language-button, .profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.cart-button img, .language-button img, .profile-button img {
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    background-color: white;
    border: 1px solid #034D28; 
}

.dropdown-item:hover {
    background-color: #d8ecd5;
}


footer {
    background-image: url('../img/footer.jpg');
    background-size: cover;
    z-index: 1;
    position: absolute;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    padding: 40px 20px;
}

.grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 45px 0px;
}

.grupo-1 .box1 figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.grupo-1 .box1 figure img {
    width: 100%; 
}

.grupo-1 .box1 h2 {
    color: #034D28;
    margin-bottom: 15px;
    font-size: 24px;
}

.grupo-1 .box2 h2 {
    color: #034D28;
    margin-bottom: 15px;
    font-size: 24px;
}

.grupo-1 .box4 h2 {
    color: #034D28;
    margin-bottom: 15px;
    font-size: 24px;
}

.grupo-1 .box1 p {
    color: #034D28;
    margin-bottom: 15px;
    font-size: 18px;
}

.grupo-1 .box2 p {
    color: #034D28;
    margin-bottom: 15px;
    font-size: 18px;
}

.grupo-1 .red-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.grupo-1 .red-social button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.grupo-1 .red-social button img {
    width: 100%; 
    height: auto;
}

.box1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.box2 {
    padding-top: 40%;
    padding-left: 10%;
    grid-column: 3;
    grid-row: 1;
}

.box3 {
    padding-top: 40%;
    padding-left: 10%;
    grid-column: 4;
    grid-row: 1;
}

.box4 {
    padding-left: 10%;
    grid-column: 3 / 4;
    grid-row: 2;
    color: #bdbdbd;
    font-size: 14px;
}


.carousel {
    margin-top: 5%;
    margin-inline: 5%;
}

.tit-linea {
    font-family: Sanchez;
    font-weight: Regular;
    text-align: left;
    margin-bottom: 0%;
    padding-bottom: 0%;
    
}

.linea {
    height: 2px;
    border-color: #034D28;
    background-color: #034D28;
}

.categories-section {
    padding: 20px;
}

.category-item {
    text-align: center;
    margin: 5%;
    text-decoration: none;
}

.category-img {
    width: 100%;         
    aspect-ratio: 1/1;  
    border-radius: 50%; 
    object-fit: cover; 
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #4c6a50;
    font-weight: bold;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #4c6a50;
}

/* Estilos para el contenedor del login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h2 {
    margin-bottom: 20px;
    color: #034D28;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #034D28;
    border-radius: 15px;
    font-size: 14px;
}

.btn-login {
    background-color: #034D28;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #026c42;
}

.forgot-password {
    text-decoration: none;
    margin: 15px 0;
    color: #034D28;
}

.forgot-password:hover {
    text-decoration: none;
    margin: 15px 0;
    color: #034D28;
    text-decoration: underline;
}

.no-account {
    margin: 15px 0;
    font-weight: bold;
    color: black;
    
}

.btn-register {
    text-decoration: none;
    background-color: #034D28;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-register:hover {
    background-color: #026c42;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form h2 {
    color: #034D28;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #034D28;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #034D28;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.auth-form input:focus {
    border-color: #028c4f;
}

.auth-form button {
    background-color: #034D28;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.auth-form button:hover {
    background-color: #028c4f;
}

.auth-form p {
    margin-top: 10px;
    font-size: 14px;
}

.auth-form a {
    color: #034D28;
    text-decoration: none;
}

.img-fondo img{
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
}


/* Estilos recuperar contraseña*/
.subtit {
    color: #034D28;
    font-family: Roboto;
    font-weight: Regular;
    text-align: center;
    margin-inline: 15%;
}

.forgot-password-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Estilos generales de listas libros */
.container-libros {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 299px);
    justify-content: center;
    grid-gap: 0;
}

.listar-libros {
    width: 299px;
    height: 452px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(3,77,40,1);
    overflow: hidden;
}

.card-img-top {
    width: 188px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.title {
    text-transform: uppercase;
    width: 257px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 325px;
    left: 21px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.autor {
    text-transform: uppercase;
    width: 112px;
    color: rgba(0,0,0,0.41999998688697815);
    position: absolute;
    margin-top: 6%;
    top: 343px;
    left: 21px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.precio-libro {
    width: 44px;
    color: rgba(3,77,40,1);
    position: absolute;
    margin-top: 6%;
    top: 375px;
    left: 21px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
}

.hr-libros {
    margin-top: 320px;
    width: 90%;
    border: none; 
    border-top: 2px solid #034D28;
    margin-left: auto;
    margin-right: auto;
}

/* Responsividad */
@media (max-width: 768px) {
    .card-img-top {
        height: 180px;
    }
}

/* Recomendaciones */
.recomendacion2 {
    border-right: 1px solid #034D28;
    border-left: 1px solid #034D28;
}

.tit {
    color:#034D28;
    margin-top: 5%;
    margin-bottom: 0%;
}

.recomendacion p, .recomendacion2 p {
    text-align: left;
}

.recomendacion img, .recomendacion2 img {
    margin-top: 5% ;
}

.recomendacion a, .recomendacion2 a {
    text-decoration: none;
    color: black;
}

/*Autor, Genero y Libro*/
.main-container {
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #034D28;
}


.main-container input[type="text"],
.main-container textarea, 
.main-container select, 
.main-container input[type="number"], 
.main-container input[type="date"],
.main-container input[type="email"],
.main-container input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #034D28;  
    border-radius: 15px;  
    font-family: Arial, sans-serif;
    box-sizing: border-box;  
    background-color: #f8f8f8; 
    color: #333;  
    outline: none;  
    transition: border-color 0.3s ease, background-color 0.3s ease; 
    cursor: pointer;
}


.main-container input[type="text"]:focus, 
.main-container input[type="email"]:focus, 
.main-container textarea:focus, 
.main-container input[type="number"]:focus, 
.main-container input[type="date"]:focus, 
.main-container select:focus {
    border-color: #046B3C;  
    background-color: #fff; 
}

.main-container input[type="file"] {
    padding: 5px;  /* Ajusta el padding para que no se vea desproporcionado */
    border-radius: 10px;  /* Menor borde redondeado para archivos */
    background-color: #f8f8f8;
    color: #333;
}

.main-container textarea {
    height: 150px; 
    resize: vertical; 
}

.btn-submit {
    background-color: #034D28;
    color: white;
}

.btn-submit:hover {
    background-color: #026c42;
    color: white;
}

.btn-outline-personal {
    color: #034D28;
    border-color: #034D28;
}

.btn-outline-personal:hover {
    color: white;
    border-color: #034D28;
    background-color: #034D28;
}


/*Sidebar*/
.sidebar_nav {
    height: calc(100vh - 20px);
    width: 160px;
    position: fixed;
    z-index: 0;
    left: 0;
    background-color: #034D28;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
    color: #FFFFFF;
}

.sidebar_nav .menu-section {
    margin-bottom: 20px;
}

.sidebar_nav .menu-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.sidebar_nav a{
    display: block;
    padding: 8px 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0;
    border-radius: 5px;
}

.sidebar_nav a:hover{
    background-color: #13854c;
}

.container-admin {
    display: flex;
    margin-left: 160px;
    
}

.content {
    width: 100%;
}

.container-cosas {
    margin-top: 10px;
    margin-left: 180px; 
    padding: 20px;
    max-width: calc(100% - 180px); 
    box-sizing: border-box;
    min-height: 600px;
}

/* Detalles libro*/
.libro-container {
    margin-top: 6%;
    margin-inline: 5%;
    align-items: center;
    padding: 20px;
    background-color: rgba(255,255,255,0.8399999737739563);
}

.libro-container img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 357px;
    margin-left: 4%;

}

.tit-Li {
    width: 579px;
    color: black;
    font-family: Sedan;
    font-weight: Regular;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

.tit-Au {
    width: 364px;
    color: rgba(0, 0, 0, 0.47999998927116394);
    font-family: Sedan;
    font-weight: Regular;
    text-transform: uppercase;
    font-size: 25px;
    text-align: left;
}


.sinopsis {
    width: 364px;
    color: rgba(0, 0, 0, 0.47999998927116394);
    font-family: Sedan;
    font-weight: Regular;
    font-size: 25px;
    text-align: left;
}

.descripcion {
    color: rgba(0, 0, 0, 1);
    font-family: Sedan;
    font-weight: Regular;
    font-size: 18px;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-md-4 {
    padding: 10px;
}

.precio {
    color: rgba(0, 0, 0, 1);
    font-family: Shanti;
    font-weight: Regular;
    font-size: 30px;
    text-align: left;
}


.btn-personal {
    text-decoration: none;
    background-color: #034D28;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.btn-personal:hover {
    background-color: #026c42;
}


.opciones {
    margin-top: 5%;
    text-align: center;
}



/*Contenedor autor*/
.container-autor {
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
    padding-inline: 10%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container-autor img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.texto {
    text-align: left;
}

.texto h3 {
    font-family: Sedan;
    text-transform: uppercase;
    color: black;
}


.texto p {
    text-align: left; 
    color: black;
    font-family: Sedan;
}

.texto a {
    text-align: left;
    color: #034D28;
    text-decoration: none;
}

.texto a:hover {
    color: #034D28;
    text-decoration: underline;
}

.tit-2 {
    text-transform: none;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: Sanchez;
    color: #034D28;
    font-weight: Regular;
}


/* Sección de Reseñas */
.container-reseñas {
    margin: 5%;
    padding: 20px;
}

.reseña-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tit-reseñas {
    color: #034D28;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 25px;
}

.media {
    font-family: Sanchez;
    color: #034D28;
    font-size: 30px;
}

.reseña-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-right-custom {
    color: #868686;
    font-family: Sanchez;
}

.reseña {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;

}

.one {
    grid-column: 1;
    grid-row: 1;
}

.one p{
    font-family: Scope One;
    color: #515151;
    font-size: 15px;
    margin-top: none;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1;
}

.one h4 {
    font-size: 18px;
    margin-bottom: none;
    font-family: Scope One;
}

.two p {
    font-size: 16px;
    font-family: Scope One;
    margin-bottom: 5px;
}

.hr-editado {
    margin-top: 1%;
    border: 2px solid #034D28;
    color: #034D28;
}

.puntuacion-estrellas {
    display: flex; /* Alinea las imágenes horizontalmente */
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
    align-items: center; /* Centra las imágenes verticalmente */
    margin-bottom: 10px; /* Espacio inferior opcional */
}

.estrella {
    width: 100px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 5px; /* Espacio entre las imágenes */
}


.ver-reseñas {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.btn-ver-reseñas {
    padding: 10px 20px;
    background-color: #034D28;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-ver-reseñas:hover {
    background-color: #026f1c;
}


/*Cesta*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-inline: 5%;
}

.cesta-container {
    grid-column: 1/4;
    grid-row: 1/5;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.8399999737739563);;
}

.cesta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cesta-header h3 {
    width: 88px;
    color: rgba(3, 77, 40, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 32px;
    text-align: left;
}

.cesta-header button {
    text-decoration: none;
    width: 144px;
    color: rgba(3, 77, 40, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    text-align: left;
    background: none;
    border: none;
}

.cesta-header button:hover {
    text-decoration: underline;
    color: rgba(3, 77, 40, 1);
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.producto-imagen img {
    width: 100px;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.producto-info {
    flex-grow: 2;
    padding: 0 10px;
}

.producto-info h4 {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    text-align: left;
}

.producto-info p {
    color: rgba(80, 80, 80, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    text-align: left;
}

.producto-info span {
    color: black;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 16px;
    text-align: left;
}

.producto-cantidad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 128px; 
    height: 42px;
    border: 3px solid rgba(3, 77, 40, 1);
    border-radius: 50px;
    padding: 0 8px;
    margin-top: 2%;
}

.producto-cantidad img {
    width: 23px;
    height: 23px;
}

.btn-cantidad {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cantidad-display {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    min-width: 20px;
}

.producto-eliminar a {
    color: #006400;
    text-decoration: underline;
    font-size: 0.9em;
}

.producto-precio {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
}

.resumen-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.btn-finalizar {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #034D28;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.btn-finalizar:hover {
    background-color: #026c42;
    color: white;
}

.producto-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5%;
}

.cantidad-eliminar-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.borde-eliminar {
    border-left: 1px solid #034D28;
    margin-top: 2%;
    padding-left: 1%;
}

.producto-eliminar {
    text-decoration: none;
    width: 59px;
    color: rgba(3, 77, 40, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;
}

.producto-eliminar:hover {
    text-decoration: underline;
    
}

.subtotal {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

.subtotal-texto {
    color: #034D28;
}

.subtotal-precio {
    color: black;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    margin-left: 1%;
}


.tramitar-container {
    grid-column: 4;
    grid-row: 1;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.no-productos {
    text-align: center;
    color: black;
    font-family: Roboto;
    font-size: 20px;
    margin-left: 1%;
    border: 1px solid #034D28 ;
    padding: 10%;
}

.btn-group-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    width: 100%; 
}

.btn-group {
    display: flex;
    gap: 10px; 
    width: 100%;
}

.btn-formato {
    border: 2px solid #034D28; 
    color: #034D28;
    background-color: transparent;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1; 
    text-align: center;
    text-align: left;
}

.btn-formato:hover, .btn-formato.active:hover {
    border: 2.5px solid rgb(255, 196, 0);
}

.btn-formato.active {
    border: 2px solid rgb(255, 230, 0);
}

.checkout-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalle-pedido {
    margin: 20px 0;
}

.pedido-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.pedido-tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.imagen-checkout {
    width: 80px;
    height: auto;
    object-fit: cover;
}

.total-carrito {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
}

/*Novedades*/
.carousel-sections {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    display: flex; 
    flex-wrap: wrap; 
    gap: 0px; 
    padding: 0; 
    margin: 0;
    max-width: 90%;
    justify-content: center;
}

.d-inline-block {
    margin: 0; 
    padding: 0;
}

.libros-carousel {
    width: 250px;
    min-height: 452px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    border: 1px solid rgba(3, 77, 40, 1);
    overflow: hidden;
    display: inline-block; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.hr-libros-carousel {
    width: 90%;
    border: none; 
    border-top: 2px solid #034D28;
    margin-left: auto;
    margin-right: auto;
}

.d-inline-block {
    margin: none;
}

.card-img-top-carousel {
    width: 188px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin: 20px auto; 
    display: block; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.controls {
    margin-top: 20px; /* Espaciado entre el carrusel y las flechas */
    display: flex;
    justify-content: center; /* Centra las flechas */
    gap: 15px; /* Espaciado entre las flechas */
}

.btn.icon {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn.icon:hover {
    background-color: rgba(3, 77, 40, 0.1); /* Efecto hover */
    border-radius: 50%; /* Redondeo del botón */
}

.c-icon {
    fill: rgba(0, 0, 0, 0.7); /* Color de las flechas */
    transition: fill 0.3s ease;
}

.btn.icon:hover .c-icon {
    fill: rgba(3, 77, 40, 1); /* Cambio de color al pasar el mouse */
}

.btn.icon:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dots-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    margin-top: 10px; /* Espacio entre contenido y botón */
}

.btn-reserva {
    width: 112px;
    position: absolute;
    margin-top: 6%;
    top: 380px;
    left: 21px;
    opacity: 1;
    text-align: center;
    border-radius: 15px;
    background-color: #034D28;
    color: white;
    border: none;
    padding: 5px;
}

.btn-reserva:hover {
    background-color: #026c42;
}
