{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="forgot-password-container">
        <div>
            <h2>Ayuda de contraseña</h2>
            <p class="subtit">Introduzca la dirección de correo electrónico asociado con su cuenta de BookVerse.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Correo</label>
                    {{ form.email }}
                </div>
                <button type="submit" class="btn-login">Enviar</button>
            </form>
            <a href="{% url 'login' %}" class="forgot-password">Volver a iniciar sesión</a>
        </div>
    </div>
{% endblock %}